@model IEnumerable<ElectronicStore.Models.Products>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<br /> <br />
<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Products List</h2>
        </div>
        <div class="col-5 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Product</a>
        </div>
        <div class="col-1">

        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div>
            <table class="table table-striped border">
                <tr class="table-info">
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.Images)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.Code)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.Price)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.PromotionPrice)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.ProductCategory)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.Brands)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.CreatedDate)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.ModifiedDate)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.Status)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(m => m.ShowOnHome)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td style="text-align:center">
                        <img src="@item.Images" width="50%" style="border-radius:5px; border: 1px solid #bbb9b9;" alt="Card Image" />
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.Code)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.Price)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.PromotionPrice)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.ProductCategory.Name)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.Brands.Name)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.CreatedDate)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.ModifiedDate)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.Status)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.ShowOnHome)
                    </td>
                    <td style="text-align:center">
                        <partial name="_TableButtonPartial" model="@Convert.ToInt32(item.Id)" />
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>



