@model ElectronicStore.Models.ViewModels.ShipperForOrderViewModel
@using ElectronicStore.Extensions
@using ElectronicStore.Data
@using ElectronicStore.Ultilities
@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}
<br />
<br />

<div class="container">
    <h2 class="text-info">Assign Shipper</h2>
    <form method="post" asp-action="Assign" enctype="multipart/form-data">

        <div class="row">
            <div class="text-danger" asp-validation-summary="ModelOnly">

            </div>
            <input hidden asp-for="Orders.Id" />
        </div>
        <br />
        <div class="row form-group">
            <div class="col-2">
                <label>Orders Name</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Orders.BillName" class="form-control" readonly />
            </div>
            <div class="col-4">

            </div>
        </div>
        
        <div class="row form-group">
            <div class="col-2">
                <label>Customer</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Orders.Customers.FullName" class="form-control" readonly />
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Shipping Address</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Orders.Customers.ShippingAddress" class="form-control" readonly />
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Phone</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Orders.Customers.PhoneNumber" class="form-control" readonly />
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Shipping Fee</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Orders.ShippingFee" class="form-control" readonly />
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Total Price</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Orders.TotalPrice" class="form-control" readonly />
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Customer</label>
            </div>
            <div class="col-6">

                @{
                    var _db = (ApplicationDbContext)ViewData["DbContext"];
                    IEnumerable<ApplicationUsers> shipper = (IEnumerable<ApplicationUsers>)(from u in _db.ApplicationUsers
                                                                                            join u_role in _db.UserRoles
                                                                                            on u.Id equals u_role.UserId
                                                                                            join r in _db.Roles
                                                                                            on u_role.RoleId equals r.Id
                                                                                            where r.Name == SD.ShippingUser
                                                                                            select u).ToList();
                }
                <select asp-for="@Model.ShipperAssignedForOrder.ShipperId" class="form-control">
                    @foreach (var item in shipper)
                    {
                        <option value="@item.Id">@Html.DisplayFor(c => item.FullName)</option>
                    }
                </select>
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">

            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary form-control"><span><i class="fas fa-check-circle"></i></span> Assign </button>
            </div>
            <div class="col-2">
                <a asp-action="Index" class="btn btn-success form-control "><span><i class="fas fa-arrow-left"></i></span> Back to list </a>
            </div>
            <div class="col-4">

            </div>
        </div>
    </form>
</div>


