@model ElectronicStore.Models.ViewModels.ShoppingCartViewModel
@using Microsoft.AspNetCore.Http
@using ElectronicStore.Extensions
@using ElectronicStore.Helper
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Customer/Shared/_Layout.cshtml";

}
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<ObjProducts> obj = HttpContextAccessor.HttpContext.Session.Get<List<ObjProducts>>("ssShoppingCart");
    double sum= 0;
    double discount = 0;
}
<form method="post">
    <br /><br />
    <h2 class="text-dark">Your Shopping Cart</h2>
    <br />
    @if (HttpContextAccessor.HttpContext.Session.Get<List<ObjProducts>>("ssShoppingCart").Count > 0)
    {
        @if (Model.Products.Count > 0)
        {
            <div class="container border border-secondary rounded" style="padding:15px;">
                <div class="row">
                    <div class="col-8 border-right">
                        <table class="table table-striped">
                            <tr class="table-dark">
                                <th style="text-align:center;" width="20%">PRODUCT</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th style="text-align:center;" width="20%">PRICE</th>
                                <th style="text-align:center;" width="20%">QUANTITY</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @for (int i = 0; i < Model.Products.Count; i++)
                            {
  
                                    

                            <tr>
                                <td>
                                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Products[i].Id">
                                        <img src="@Model.Products[i].Images" width="50%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />
                                    </a>
                                </td>
                                <td style="text-align:center;">@Model.Products[i].Name</td>
                                <td></td>
                                <td></td>
                                <td style="text-align:center;">
                                    @if (Model.Products[i].PromotionPrice > 0)
                                    {
                                        @Html.DisplayFor(c => Model.Products[i].PromotionPrice);
                                        sum += Model.Products[i].PromotionPrice* @obj[i].Quantity;
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(c => Model.Products[i].Price);
                                        sum += Model.Products[i].Price* @obj[i].Quantity;
                                    }
                                </td>

                                <td style="text-align:center;">@obj[i].Quantity</td>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-id="@obj[i].Id"><i class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            }
                        </table>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <h3 class="text-dark" style="padding-left:70px;">ORDER SUMMARY</h3>

                        </div>
                        <hr />
                        <div class="row" style="padding-left:10px;">
                            <div class="col-lg-3">
                                <label>SubTotal:</label>
                            </div>
                            <div class="col-9">
                                <label style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">VND @sum</label>
                            </div>
                        </div>
                        <div class="row" style="padding-left:10px;">
                            <div class="col-lg-3">
                                <label>Discount:</label>
                            </div>
                            <div class="col-9">
                                <label style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">VND @discount</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="padding-left:10px;">
                            <div class="col-lg-3">
                                <label>OrderTotal:</label>
                            </div>
                            <div class="col-9">
                                <label style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" asp-for="Order.TotalPrice">VND @sum</label>
                            </div>
                        </div>
                        <br />

                        <a class="btn btn-primary" asp-action="OrderConfirm" asp-controller="ShoppingCart" style="margin-left:60px;"><i class="fas fa-arrow-right"></i> View Order Details</a>
                        <br />
                        <br />                        
                    </div>
                </div>
            </div>
        }
    }
</form>
<br />
<br />